*

!.gitignore
!LICENSE
!README.md
!setup.sh
!switch-theme.sh

!assets/
!assets/0px.heic
!assets/0px-dark.png
!assets/0px-light.png

!btop/
!btop/btop.conf
!btop/themes/
!btop/themes/rose-pine.theme
!btop/themes/rose-pine-dawn.theme

!emacs-plus/
!emacs-plus/build.yml

!fish/
!fish/config.fish
!fish/fish_plugins
!fish/functions/
!fish/functions/fish_prompt.fish

!ghostty/
!ghostty/config

!sketchybar/
!sketchybar/sketchybarrc
!sketchybar/colors-dark.sh
!sketchybar/colors-dawn.sh
!sketchybar/plugins/
!sketchybar/plugins/*.sh

!skhd/
!skhd/skhdrc

!yabai/
!yabai/yabairc
